h5 {
  font-size: 25px;
}
.about_container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
  margin-top: 2.5rem;
}

.about_me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-bg-variant),
    transparent
  );
  place-items: center;
  display: grid;
}

.about_me-img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(-10deg);
  transition: var(--transition);
}

.about_me-img:hover {
  transform: rotate(0);
}
.about_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  color: whitesmoke;
}

.about_card {
  background: var(--color-white);
  opacity: 0.5;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;

  transition: var(--transition);
}

.about_card:hover {
  background: transparent;
  color: var(--color-white);
  cursor: default;
}

.about_icon {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}
/* .btn-primary {
  margin-left: 45%;
} */
.about_content {
  text-align: center;
}
.about_content p {
  margin: 2rem 2.6rem;
}

/*  MEDIA QUERIES MEDIUM SCREEN */

@media screen and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about_me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about_content p {
    margin: 1rem 0 1.5rem;
  }
}

/*  MEDIA QUERIES SMALL SCREEN */

@media screen and (max-width: 600px) {
  .about_me {
    width: 65%;
    margin: 0 auto 3rem;
    /* display: none; */
  }

  .about_cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about_content {
    text-align: center;
  }
}
