.container.contact-container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-option {
  background: var(--color-white);
  opacity: 0.5;
  border: 1px solid transparent;
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}

.contact-option:hover {
  background: transparent;
  border-color: var(--color-white);
  color: rgb(54, 69, 79);
}

.contact-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.btn {
  color: rgb(54, 69, 79);
}
.contact-option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  color: rgb(54, 69, 79);
}

/* CONTACT FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-white);
  resize: none;
}

/*  MEDIA QUERIES MEDIUM SCREEN */

@media screen and (max-width: 1024px) {
  .container.contact-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/*  MEDIA QUERIES SMALL SCREEN */

@media screen and (max-width: 600px) {
  .container.contact-container {
    width: var(--container-width-sm);
  }
}
